body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #0b0b0b; /* Dark background */
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #333333; /* Dark grey */
    z-index: 1000;
    padding: 5px 0;
    color: #D8D8D8; /* Light grey text color */
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.player-image {
    height: 100px; /* Adjust as needed */
    width: auto;
    z-index: 1;
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-controls * {
    margin: 0 5px;
}

.now-playing {
    font-size: 0.9em;
    margin: 5px 0;
}

.playlist {
    margin-top: 50px; /* Height of the player plus some */
    padding: 0 10px;
    overflow-y: auto;
    background-color: #1A1A1A; /* Slightly lighter black for contrast */
    color: #FFF;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist ul li {
    cursor: pointer;
    padding: 8px 5px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist ul li.active {
    background-color: #333333; /* Highlight active track */
}

.playlist ul li:hover {
    background-color: #505050;
}

.download-btn {
    background-color: #0bf96e; /* Winamp yellow for buttons */
    border: none;
    color: #0B0B0B; /* Dark text for contrast */
    padding: 5px 8px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 3px;
}

.download-btn:hover {
    background-color: #FFD324; /* Lighter yellow on hover */
}
